<footer>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <ul class="list-inline text-center">
            
            <li class="list-inline-item">
            <a href="https://www.facebook.com/pages/category/School/Auto-Skola-Srecko-Zmaj-Jovina-1605346879738936" target="_blank">
                <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            </li>

            <li class="list-inline-item">
              <a href="https://www.youtube.com/watch?v=oGJ2xx9gamw" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>


            <li class="list-inline-item">
              <a href="https://www.schoolandcollegelistings.com/CS/Pan%C4%8Devo/1605346879738936/Auto-Skola-Srecko---Zmaj-Jovina" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-leanpub fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>

          </ul>

          <p class="copyright text-muted">Sva prava zadržana &copy; Auto škola Srećko 2020</p>

        </div>
      </div>
    </div>

  </footer>