<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
        <h1>Vesti</h1>

        <app-add-news (emitTitle)="setNewTitle($event)"
                      (emitSubtitle)="setNewSubtitle($event)"
                      (emitLink)="setNewLink($event)"
                      (emitPath)="setNewPath($event)" [ngClass]="setClass()"></app-add-news>

        <div class="post-preview" *ngFor="let n of service.news">

          <h2 class="post-title" >{{n.title}}</h2>

          <h3 class="post-subtitle">
            <a href={{n.link}} target="_blank" *ngIf='n.link !== ""'>KLIKNI OVDE <br/> </a> 
            
            {{n.subtitle}}

            <img src={{n.image}} alt="Slika vesti" *ngIf='n.image !== ""'/>
          </h3>

          <p class="post-meta">{{n.date}}</p>

          <hr>

        </div>

        <div class="clearfix">
          <a class="btn btn-primary float-right" (click)="loadOlderNews()">Starija obaveštenja &rarr;</a>
        </div>

      </div>
    </div>
  </div>

  <hr>