form .form-group:first-child .floating-label-form-group {
    border-top: 1px solid #dee2e6;
}
  
footer {
    padding: 50px 0 65px;
}
  
footer .list-inline {
    margin: 0;
    padding: 0;
}
  
footer .copyright {
    font-size: 14px;
    margin: 30px 0;
    line-height: 1.5;
    text-align: center;
}

.list-inline-item > a {
    color: #212529;
    transition: all 0.2s;
}

.list-inline-item > a:focus, .list-inline-item > a:hover {
    color: #349763;
}