@font-face {
  font-family: goodTimes;
  src: url(../assets/fonts/goodTimes.ttf) format('opentype');
}

.container {
    margin-bottom: 50px;
    color: #212529;
    text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  font-family: 'goodTimes', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 50px;
}
    
.post-preview > h2:hover {
  text-decoration: none;
  color: #349763;
}
    
.post-preview > .post-title {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  .post-preview > .post-title {
    font-size: 36px;
  }

  h1 {
    font-size: 50px;
  }
}
    
.post-preview > .post-subtitle {
  font-weight: 300;
  font-size: 25px;
  margin: 10px 0 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
    
.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 10px;
  color: #868e96;
}
    
.post-preview > .post-subtitle > a, .post-preview > .post-title > a{
  text-decoration: none;
  color: red;
}
    
.post-preview > .post-subtitle > a:hover, .post-preview > .post-title > a:hover {
  text-decoration: underline;
}

.post-preview h3 > img {
  width: 60%;
  height: 60%;
  display: block;
  margin: 30px auto 20px;
  box-shadow: 5px 10px 25px #555, 5px 10px 25px #349763;
  border: 1px solid black;
}
  
.btn {
  font-size: 15px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  border: 0px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: 30px;
}
    
.btn-primary {
  background-color: #349763;
}
    
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #212529 !important;
}