<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <h3 class="post-subtitle">Auto škola "Auto Srećko" uspešno radi od svog osnivanja 2015. godine. Sedište nam je u Kovačici.</h3>
          <h2 class="post-title">Vršimo obuku vozača za:</h2>
          
          <ul>
              <li><h3 class="post-subtitle">A,</h3></li>
              <li><h3 class="post-subtitle">B i</h3></li>
              <li><h3 class="post-subtitle">F kategoriju.</h3></li>
          </ul>

          <br/>
          <h3 class="post-subtitle">Misija naše auto škole je da svaki kandidat prođe obuku, bude siguran i bezbedan učesnik u saobraćaju!</h3>
        </div>
         </div>
    </div>
</div>

<hr>