<header style="background-image: url('assets/main-bg.jpg')">

    <div class="overlay"></div>

    <div class="container">

        <div class="col-lg-8 col-md-10 mx-auto">

          <div class="site-heading">
                <h1>Auto Škola <span style="color: red;">SREĆKO</span>
                    <img src="assets/icon.png" alt="logo">
                </h1>
                <span class="subheading">Najpovoljnija auto škola u Pančevu!</span>
          </div>

        </div>
      
    </div>

</header>