header {
    background: no-repeat center center;
    background-color: #868e96;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    margin-bottom: 50px;
}
  
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.6;
}
  
header .site-heading {
    padding: 200px 0 150px;
    color: white;
}
  
@media only screen and (min-width: 768px) {
    header .site-heading {
        padding: 200px 0;
    }
}
  
header .site-heading {
    text-align: center;
}
  
header .site-heading h1 {
    font-size: 60px;
    margin-top: 0;
    position: relative;
}
 
header .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header img {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 30px;
}

@media only screen and (min-width: 768px) {
    header .site-heading h1 {
        font-size: 80px;
    }
}

@media only screen and (min-width: 1200px) {
    header img {
        width: 80px;
        height: 80px;
        position: absolute;
        bottom: 40px;
        right: -70px;
    }
}