<div style="margin-top: 50px" class="container">

    <form class="form-group post-preview">
        <h3 class="post-subtitle custom-file">Dodaj novu vest:</h3>
        <br>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Naslov</span>
            </div>
            <div class="custom-file">
                <input type="text" #title class="form-control" id="title" name="title">   
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Podnaslov</span>
            </div>
            <div class="custom-file">
                <input type="text" #subtitle class="form-control" id="subtitle" name="subtitle">
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Link</span>
            </div>
            <div class="custom-file">
                <input type="text" #link class="form-control" id="link" name="link">
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Slika</span>
            </div>
            <div class="custom-file">
              <input type="file" #path class="custom-file-input" id="img" (change)="onFileSelected($event)">
              <label class="custom-file-label" for="img">{{tmpPath === null ? 'Odaberi sliku' : tmpPath}}</label>
            </div>
        </div>
    </form>

    <div class="clearfix">
        <button class="btn btn-primary" (click)="addNews(title, subtitle, link, path)" [disabled]="title.value === '' || subtitle.value === ''">Dodaj</button>
    </div>
</div>
