<div class="container">

    <app-add-image (emitPath)="setNewPath($event)"
                   (emitTitle)="setNewTitle($event)"
                   (emitSubtitle)="setNewSubtitle($event)" [ngClass]="setClass()"></app-add-image>
  
    <div class="card-columns">
  
        <div class="card" *ngFor="let img of imgService.images">
  
            <img class="card-img-top" [src]="img.source" [alt]="img.title" />
  
            <div class="card-body post-preview">
  
                <h5 class="card-title post-title">{{img.title}}</h5>
  
                <p class="card-text post-subtitle">
                  {{img.subtitle}}
                </p>
  
                <hr>
  
                <p class="card-text post-meta">
                  {{ img.date | serbianDate }}
                </p>
  
            </div>
  
        </div>
  
    </div>
  
</div>