<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1 style="text-align: center;">B kategorija</h1>
        <hr>
        <table class="table table-dark table-bordered table-hover" style="margin-top: 50px;">
            <thead class="thead-light">
              <tr>
                <th scope="col">Kategorija</th>
                <th scope="col">Cena</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Teorijska obuka 40 časova</td>
                <td>13 300 dinara</td>
              </tr>
              <tr>
                <td>Praktična obuka 40 časova</td>
                <td>48 000 dinara</td>
              </tr>
              <tr>
                <td>Polaganje teorijskog ispita</td>
                <td>uključeno u cenu 1 ispit</td>
              </tr>
              <tr>
                <td>Polaganje vožnje</td>
                <td>uključeno u cenu 1 ispit</td>
              </tr>
              <tr>
                <td>Uverenje o položenom ispitu</td>
                <td>besplatno</td>
              </tr>
              <tr>
                <td>Ispis</td>
                <td>besplatno</td>
              </tr>
              <tr>
                <td>CENA UKUPNO na 12 mesečnih rata</td>
                <td>65 500,00 dinara</td>
              </tr>
              <tr>
                <td>Lekarsko uverenje</td>
                <td>besplatno</td>
              </tr>
              <tr>
                <td>Polaganje testa sa taksom MUP-a</td>
                <td>5000 dinara</td>
              </tr>
              <tr>
                <td>Polaganje vožnje sa taksom MUP-a</td>
                <td>5000 dinara</td>
              </tr>
              <tr>
                <td>Dodatni čas vožnje</td>
                <td>1200 dinara</td>
              </tr>
              <tr>
                <td>Obuka i polaganje PRVE POMOĆI</td>
                <td>5000 dinara</td>
              </tr>

            </tbody>
          </table>
          

      </div>
    </div>
</div>

<hr>