<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
        <h1>Vesti</h1>

        <div class="post-preview" *ngFor="let element of news">
            <h2 class="post-title" >
               {{element.title}}
            </h2>
            <h3 class="post-subtitle">
              <a href={{element.link}} target="_blank" *ngIf='element.link !== ""'>KLIKNI OVDE <br/> </a> 
              
              {{element.subtitle}}

              <img src={{element.image}} alt="Slika vesti" *ngIf='element.image !== ""'/>
            </h3>
            <p class="post-meta">
            {{element.date}}
            </p>

            <hr>
        </div>

        <div class="clearfix">
          <a class="btn btn-primary float-right" (click)="loadOlderNews()">Starija obaveštenja &rarr;</a>
        </div>

      </div>
    </div>
  </div>

  <hr/>